# URL tvog budućeg Spring Boot ili Node.js backenda
VITE_API_URL=https://api.tvoj-salon.hr

# Postavi na "true" ako želiš koristiti mock podatke iz servicesData.js dok backend ne proradi
VITE_USE_MOCK_DATA=true